.row {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.col-50 {
  width: 50vw;
  height: 100%;
}

.row-558 {
  width: 100%;
  height: 55.8%;
}

.row-442 {
  width: 100%;
  height: 44.2%;
}

.intro,
.skills,
.career-goals,
.contacts {
  width: 100%;
  height: 100%;
  user-select: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  line-height: 1.6rem;
  scroll-behavior: smooth;
}

.intro {
  background-color: #fff;
  position: relative;
}
.intro__heading {
  position: absolute;
  left: 16%;
  top: 16%;
  font-size: 2.8rem;
  text-shadow: 2px 2px #ddd;
  line-height: 4rem;
  font-weight: 500;
  color: #333;
}
.intro__heading > span {
  font-size: 2.4rem;
  margin-left: 20px;
}
.intro__content {
  position: absolute;
  left: 28%;
  top: 50%;
  line-height: 2.8rem;
  font-size: 1.7rem;
  text-align: justify;
  padding-top: 12px;
}

#role {
  color: #0c14b8;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 2.8rem;
  background-color: #0c14b8;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #0c14b8;
  }
}
.skills {
  position: relative;
  background-color: #fff;
}
.skills__heading {
  color: #e54e26;
  text-shadow: 2px 2px #ddd;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  width: 146px;
}

.html {
  left: 8%;
  top: 18%;
  background-size: 701% 516%;
  background-position: -211px -4px;
  position: absolute;
  width: 56px;
  background-image: url("../img/languages.png");
  background-repeat: no-repeat;
  height: 56px;
  border-radius: 16px;
  cursor: pointer;
}

.css {
  left: 32%;
  top: 6%;
  background-size: 706% 516%;
  background-position: -310px -4px;
  position: absolute;
  width: 56px;
  background-image: url("../img/languages.png");
  background-repeat: no-repeat;
  height: 56px;
  border-radius: 16px;
  cursor: pointer;
}

.js {
  left: 12%;
  top: 50%;
  background-size: 701% 516%;
  background-position: -120px -4px;
  position: absolute;
  width: 56px;
  background-image: url("../img/languages.png");
  background-repeat: no-repeat;
  height: 56px;
  border-radius: 16px;
  cursor: pointer;
}

.java-core {
  left: 32%;
  bottom: 12%;
  border-radius: 32px !important;
  background-size: 408% 193%;
  background-position: -29px -17px;
  position: absolute;
  width: 64px;
  background-image: url("../img/java.jpg");
  background-repeat: no-repeat;
  height: 64px;
  border-radius: 16px;
  cursor: pointer;
}

.php {
  right: 16%;
  bottom: 10%;
  border-radius: 20px;
  background-size: 440% 600%;
  background-position: -8px -148px;
  position: absolute;
  width: 84px;
  background-image: url("../img/languages.png");
  background-repeat: no-repeat;
  height: 40px;
  border-radius: 16px;
  cursor: pointer;
}

.tsql {
  right: 24%;
  top: 12%;
  background-color: #ccc;
  background-size: cover;
  position: absolute;
  width: 68px;
  background-image: url("../img/t-sql.png");
  background-repeat: no-repeat;
  height: 68px;
  border-radius: 16px;
  cursor: pointer;
}

.git {
  right: 12%;
  top: 44%;
  background-size: contain;
  position: absolute;
  width: 72px;
  background-image: url("../img/Github-Logo.png");
  background-repeat: no-repeat;
  height: 72px;
  border-radius: 16px;
  cursor: pointer;
}

.career-goals {
  position: relative;
  background-color: #171b20;
  background-image: url("../img/luna.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.career-goals__heading {
  color: #4ef634;
  text-shadow: 2px 2px #333;
  position: absolute;
  right: 8%;
  top: 20%;
  transform: rotate(36deg);
  font-size: 2.8rem;
  font-weight: 500;
}

.contacts {
  position: relative;
}
.contacts__heading {
  text-align: center;
  padding: 2.8rem;
  font-size: 2.8rem;
  font-weight: 500;
  color: #ff0090;
  text-shadow: 2px 2px #ddd;
}
.contacts__content {
  position: absolute;
  width: 288px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.contacts__content > p {
  margin: 4px 0 0 20px;
}

#myemail, #mygit, #mylinkedin {
  color: #333;
  margin-left: 12px;
  transition: all 0.4s ease-out;
}
#myemail:hover, #mygit:hover, #mylinkedin:hover {
  opacity: 0.8;
}

#myemail:hover {
  color: #c6231e;
}

#mylinkedin:hover {
  color: #0a66c2;
}

#mygit {
  margin-top: 20px;
}

.avatar {
  position: absolute;
  z-index: 999;
  background: #fff url(../img/cartoon.jpg) no-repeat center center;
  background-size: cover;
  width: 20rem;
  height: 20rem;
  background-color: antiquewhite;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  transition: width 0.8s ease-out, height 0.8s ease-out;
  cursor: pointer;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.avatar:hover {
  width: 18rem;
  height: 18rem;
}

@keyframes example {
  0% {
    border-radius: 57% 43% 40% 60%/45% 52% 48% 55%;
  }
  25% {
    border-radius: 67% 33% 41% 59%/38% 64% 36% 62%;
  }
  50% {
    border-radius: 75% 25% 60% 40%/35% 36% 64% 65%;
  }
  75% {
    border-radius: 51% 49% 52% 48%/26% 51% 49% 74%;
  }
  100% {
    border-radius: 57% 43% 40% 60%/45% 52% 48% 55%;
  }
}
@media screen and (max-width: 1024px) {
  .career-goals {
    background-size: cover;
    background-position: 0% 0%;
  }
}

/*# sourceMappingURL=style.css.map */
